version: '3.8'

services:
  # Spring Boot Application
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: viet-japanese-backend
    restart: unless-stopped
    network_mode: host
    healthcheck:
      test: [ "CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:8082/actuator/health" ]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 60s
